<!DOCTYPE html>
<html lang="en">
	<aside class="callout">
		<div class="text-vertical-center">
		<h1 class="display-none-big text-white" style="font-size: 4.0em;">
			CONNECTING MARKETS AND SOCIETY
		</h1>
		<h2 class="display-none-small text-white">
			CONNECTING MARKETS AND SOCIETY
		</h2>										
		</div>
	</aside>
</html>