<!DOCTYPE html>
<html lang="en">
	<!-- Footer -->
	<footer>
		<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto text-center">
			<h4 style="padding-left:3.5px;margin-bottom:0px;">
				<strong style="letter-spacing: 3.225px;">
					YONSEI UNIVERSITY
				</strong> 
				<!-- between characters space +++  -->
			</h4>
			<h4>
				<strong>Center for Digital Society</strong>
			</h4>
			<p> 
				Advanced Science & Technology Center room #102, 50 Yonsei-ro Seodaemun-gu
				<br/>Seoul, 03722, Republic of Korea
			</p>
			<ul class="list-unstyled">
				<li>
				<i class="fa fa-phone fa-fw"></i>
				+82 (2) 2123-4654</li>
				<li>
				<i class="fa fa-envelope-o fa-fw"></i>
				<a href="mailto:name@example.com">digital.society@yonsei.ac.kr</a>
				</li>
			</ul>
			<hr class="small">
			<p class="text-muted">Copyright &copy; Center for Digital Society, Yonsei University 2017</p>
			</div>
		</div>
		</div>
		<a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
		<i class="fa fa-chevron-up fa-fw fa-1x"></i>
		</a>
	</footer>
</html>
