<!DOCTYPE html>
<html lang="en">
	<!-- Call to Action -->
	<aside class="call-to-action">
		<div class="container" style="text-align:justify">
		<div class="row">
			<div class="col-lg-10 mx-auto">				
				<div class="row" style="background-color:#007bff;
										box-shadow: 15px 15px 35px #BBBBBB;
										padding:40px;">
				<h5 class="display-none-big text-white">
					We are always interested in hiring highly qualified students. Our team has open positions for students at all levels (BS-MS-PHD). Paid positions and scholarships are available. If you are interested to apply, please email us a copy of your C.V./Resume and transcripts of your last degree. The subject line of your email must say "Applying for Available Positions at CDS".
				</h4>
				<h6 class="display-none-small text-white">
					We are always interested in hiring highly qualified students. Our team has open positions for students at all levels (BS-MS-PHD). Paid positions and scholarships are available. If you are interested to apply, please email us a copy of your C.V./Resume and transcripts of your last degree. The subject line of your email must say "Applying for Available Positions at CDS".
				</h5>										
				</div>
			</div>
		</div>
		</div>
	</aside>
</html>