<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Center of Digital Society - TEST</title>

	<!-- Bootstrap Core and Other JavaScript Sources -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="js/stylish-portfolio.js"></script>

	<!-- Bootstrap Frame CSS and Other Styles -->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rozha One">
	<link rel="stylesheet" type="text/css" href="css/stylish-portfolio.css">
	<link rel="stylesheet" type="text/css" href="css/digital-society.css">	
</head>


<body style="height: 150px;">
	<!-- ejs Header -->
    <% include ./shared/Header %>

	<!--  -->
	<section id="aboutUs" class="aboutUs border-top-grey-collapse">
		<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto text-center">
				<h1 style="font-family:Oswald">ABOUT US</h1>
				<hr class="medium">
				
				<h3 style="font-family:Oswald; text-align:left">WHO WE ARE</h3>
				<div class="row" style="margin-bottom:30px; padding-left:18px; padding-right:18px">
					<p style="text-align:justify">
						The contemporary society makes a rapid advance toward hyper-connected society due to the diffusion of social network technology such as Internet, mobile devices, social media. At the small-scale level of this project, two independent research teams were formed and conducted separate research on connectivity between corporate and consumer and governance-citizenship network in new media society. At the middle-scale level, on the other hand, the two teams collaborated and proposed more sophisticated conceptualization and prediction of the future of hyper-connected society. Furthermore, such a collaboration attempted systemic observation of convergence between market economy and civic society, and suggested better policy alternatives to prepare the upcoming hyper-connected society.
						<br/><br/>The contemporary society has been evolving into hyper-connected and hyper-intellectual society along with the progress of the fourth industrial revolution. The fourth industrial revolution is defined as cyber-physical system to dramatically develop the potential of human and machines (World Economic Forum, 2016). In other words, through fourth industrial revolution, we will be able to see the era when technologies are embedded into the society in which machines carry out intellectual operations, computing technologies are applied directly into human bodies, and communication among corporate, government, and consumers are heading toward new dimension (Davis, World Economic Forum, 2016).  
						<br/><br/>The research teams have comprehensively analyzed the various aspects of the connectivity of market economy and civic society. Based on such achievement, the research project at large-scale level focuses on the pattern of network and interaction between corporate groups and individuals as both citizen and user to experience institutional ecosystem in hyper connected-intellectual society because in hyper-connected and hyper-intellectual society, the trend that an individual multifacetedly acts as a citizen, a consumer, and a user is strengthened. At large-scale level, such multidimensional aspects of an individual in hyper-connected society is taken into comprehensive consideration. Consequently, in the first phase of the large-scale level, the interaction between citizen· user communities will be analyzed. In the second phase, based on the analysis of user involvement platforms, citizen communication platforms, and social trust governance which link one citizen· user community to others, policy alternatives and institutional improvements will be suggested.
					</p>
				</div>
				
				<h3 style="font-family:Oswald; text-align:left">WHAT WE DO</h3>
				<div class="row" style="margin-bottom:30px; padding-left:18px; padding-right:18px">
					sdafasdfasfasdf dsaf safasdfasfasfasdfasfasdfsadfasdfaffas
				</div>
				
				<h3 style="font-family:Oswald; text-align:left">WHERE WE ARE</h3>
				<div class="row" style="margin-bottom:0px; padding-left:18px; padding-right:18px">
					<p style="text-align:left"> 
						Advanced Science & Technology Center 102, 50 Yonsei-ro Seodaemun-gu, Seoul, 03722, Republic of Korea
					</p>
				</div>
												
			<!-- /.row (nested) -->
			</div>
			<!-- /.col-lg-10 -->
		</div>
		<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>

	<!-- Slogan -->
	<aside class="callout">
		<div class="text-vertical-center">
		<h1>Slogan SLOGAN Slogan SLOGAN</h1>
		</div>
	</aside>

	<!-- Call to Action -->
	<aside class="call-to-action">
		<div class="container" style="text-align:justify">
		<div class="row">
			<div class="col-lg-10 mx-auto">				
				<div class="row" style="background-color:#007bff;
										box-shadow: 15px 15px 35px #BBBBBB;
										padding:40px;">
				<h5 class="display-none-big text-white">
					We are always interested in hiring highly qualified students. Our team has open positions for students at all levels (BS-MS-PHD). Paid positions and scholarships are available. If you are interested to apply, please email us a copy of your C.V./Resume and transcripts of your last degree. The subject line of your email must say "Applying for Available Positions at CDS".
				</h4>
				<h6 class="display-none-small text-white">
					We are always interested in hiring highly qualified students. Our team has open positions for students at all levels (BS-MS-PHD). Paid positions and scholarships are available. If you are interested to apply, please email us a copy of your C.V./Resume and transcripts of your last degree. The subject line of your email must say "Applying for Available Positions at CDS".
				</h5>										
				</div>
			</div>
		</div>
		</div>
	</aside>
	
	<!-- ejs Footer -->
    <% include ./shared/Footer %>

	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
			document.getElementById("mySidenav_greyover").style.width = "100%";
		}	
		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
			document.getElementById("mySidenav_greyover").style.width = "0";
		}		
	</script>
	</body>
</html>
