<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Center of Digital Society - TEST</title>

	<!-- Bootstrap Core and Other JavaScript Sources -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="js/stylish-portfolio.js"></script>

	<!-- Bootstrap Frame CSS and Other Styles -->
	
	<script src='./fullcalendar-3.7.0/lib/moment.min.js'></script>
	<script src='./fullcalendar-3.7.0/lib/jquery.min.js'></script>
	<script src='./fullcalendar-3.7.0/fullcalendar.min.js'></script>
	<script src='./fullcalendar-3.7.0/gcal.min.js'></script>
	<script>
		$(document).ready(function() {
		
			$('#calendar').fullCalendar({

				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,listYear'
				},

				displayEventTime: false, // don't show the time column in list view

				// THIS KEY WON'T WORK IN PRODUCTION!!!
				// To make your own Google API key, follow the directions here:
				// http://fullcalendar.io/docs/google_calendar/
				googleCalendarApiKey: 'AIzaSyDcnW6WejpTOCffshGDDb4neIrXVUA1EAE',
			
				// US Holidays
				events: 'en.usa#holiday@group.v.calendar.google.com',
				
				eventClick: function(event) {
					// opens events in a popup window
					window.open(event.url, 'gcalevent', 'width=700,height=600');
					return false;
				},
				
				loading: function(bool) {
					$('#loading').toggle(bool);
				}
				
			});
			
		});
	</script>
<style>

	body {
		margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}
		
	#loading {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	#calendar {
		max-width: 900px;
		margin: 0 auto;
	}

</style>
	<link rel='stylesheet' type="text/css" href='./fullcalendar-3.7.0/fullcalendar.min.css'>
	<link rel='stylesheet' media='print' href='./fullcalendar-3.7.0/fullcalendar.print.min.css'>
	
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rozha One">
	<link rel="stylesheet" type="text/css" href="css/stylish-portfolio.css">
	<link rel="stylesheet" type="text/css" href="css/digital-society.css">	
</head>


<body style="height: 150px;">

	<!-- ejs Header -->
    <% include ./shared/Header %>

	<!--  -->
	<section id="events" class="border-top-grey-collapse">
		<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto text-center">
				<h1 style="font-family:Oswald">EVENTS</h1>
				<hr class="medium">


	<div id='loading'>loading...</div>

	<div id='calendar'></div>

			<!-- /.row (nested) -->
			</div>
			<!-- /.col-lg-10 -->
		</div>
		<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>

    <% include ./shared/Slogan %>
    <% include ./shared/Recruit %>

	
	<!-- ejs Footer -->
    <% include ./shared/Footer %>

	<script>
	    function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
			document.getElementById("mySidenav_greyover").style.width = "100%";
		}
	
		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
			document.getElementById("mySidenav_greyover").style.width = "0";
		}		
	</script>
	
	
	</body>

</html>
