<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Center of Digital Society - TEST</title>

	<!-- Bootstrap Core and Other JavaScript Sources -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="js/stylish-portfolio.js"></script>

	<!-- Bootstrap Frame CSS and Other Styles -->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rozha One">
	<link rel="stylesheet" type="text/css" href="css/stylish-portfolio.css">
	<link rel="stylesheet" type="text/css" href="css/digital-society.css">	
</head>


<body style="height: 150px;">
	<!-- ejs Header -->
    <% include ./shared/Header %>

	<!--  -->
	<section id="experts" class="experts border-top-grey-collapse">
		<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto text-center">
				<h1 style="font-family:Oswald">PROFESSIONALS</h1>
				<hr class="medium">
				<div class="row" style="margin-bottom:50px">
					<div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom:20px;">
						<div style="word-wrap: break-word">
							<img style="width:120px;height:120px;float:left"/>
							<h4> Name Name </h4>
							<p style="margin-left:135px;">
								sadfasdfasdfasdfasdfafadfsfadfadfaasdfad
							</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom:20px;">
						<div style="word-wrap: break-word">
							<img style="width:120px;height:120px;float:left"/>
							<h4> Name Name </h4>
							<p style="margin-left:135px;">
								sadfasdfasdfasdfasdfafadfsfadfadfaasdfad
							</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom:20px;">
						<div style="word-wrap: break-word">
							<img style="width:120px;height:120px;float:left"/>
							<h4> Name Name </h4>
							<p style="margin-left:135px;">
								sadfasdfasdfasdfasdfafadfsfadfadfaasdfad
							</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom:20px;">
						<div style="word-wrap: break-word">
							<img style="width:120px;height:120px;float:left"/>
							<h4> Name Name </h4>
							<p style="margin-left:135px;">
								sadfasdfasdfasdfasdfafadfsfadfadfaasdfad
							</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom:20px;">
						<div style="word-wrap: break-word">
							<img style="width:120px;height:120px;float:left"/>
							<h4> Name Name </h4>
							<p style="margin-left:135px;">
								sadfasdfasdfasdfasdfafadfsfadfadfaasdfad
							</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom:20px;">
						<div style="word-wrap: break-word">
							<img style="width:120px;height:120px;float:left"/>
							<h4> Name Name </h4>
							<p style="margin-left:135px;">
								sadfasdfasdfasdfasdfafadfsfadfadfaasdfad
							</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom:20px;">
						<div style="word-wrap: break-word">
							<img style="width:120px;height:120px;float:left"/>
							<h4> Name Name </h4>
							<p style="margin-left:135px;">
								sadfasdfasdfasdfasdfafadfsfadfadfaasdfad
							</p>
						</div>
					</div>

				</div>

				<h1 style="font-family:Oswald">RESEARCHERS</h1>
				<hr class="medium">
				<div class="row" style="margin-bottom:50px">
					<div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom:20px;">
						<div style="word-wrap: break-word">
							<img style="width:120px;height:120px;float:left"/>
							<h4> Name Name </h4>
							<p style="margin-left:135px;">
								sadfasdfasdfasdfasdfafadfsfadfadfaasdfad
							</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom:20px;">
						<div style="word-wrap: break-word">
							<img style="width:120px;height:120px;float:left"/>
							<h4> Name Name </h4>
							<p style="margin-left:135px;">
								sadfasdfasdfasdfasdfafadfsfadfadfaasdfad
							</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom:20px;">
						<div style="word-wrap: break-word">
							<img style="width:120px;height:120px;float:left"/>
							<h4> Name Name </h4>
							<p style="margin-left:135px;">
								sadfasdfasdfasdfasdfafadfsfadfadfaasdfad
							</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom:20px;">
						<div style="word-wrap: break-word">
							<img style="width:120px;height:120px;float:left"/>
							<h4> Name Name </h4>
							<p style="margin-left:135px;">
								sadfasdfasdfasdfasdfafadfsfadfadfaasdfad
							</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom:20px;">
						<div style="word-wrap: break-word">
							<img style="width:120px;height:120px;float:left"/>
							<h4> Name Name </h4>
							<p style="margin-left:135px;">
								sadfasdfasdfasdfasdfafadfsfadfadfaasdfad
							</p>
						</div>
					</div>

				</div>

			<!-- /.row (nested) -->
			</div>
			<!-- /.col-lg-10 -->
		</div>
		<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>


	<!-- Slogan -->
	<aside class="callout">
		<div class="text-vertical-center">
		<h1>Slogan SLOGAN Slogan SLOGAN</h1>
		</div>
	</aside>

	<!-- Call to Action -->
	<aside class="call-to-action">
		<div class="container" style="text-align:justify">
		<div class="row">
			<div class="col-lg-10 mx-auto">				
				<div class="row" style="background-color:#007bff;
										box-shadow: 15px 15px 35px #BBBBBB;
										padding:40px;">
				<h5 class="display-none-big text-white">
					We are always interested in hiring highly qualified students. Our team has open positions for students at all levels (BS-MS-PHD). Paid positions and scholarships are available. If you are interested to apply, please email us a copy of your C.V./Resume and transcripts of your last degree. The subject line of your email must say "Applying for Available Positions at CDS".
				</h4>
				<h6 class="display-none-small text-white">
					We are always interested in hiring highly qualified students. Our team has open positions for students at all levels (BS-MS-PHD). Paid positions and scholarships are available. If you are interested to apply, please email us a copy of your C.V./Resume and transcripts of your last degree. The subject line of your email must say "Applying for Available Positions at CDS".
				</h5>										
				</div>
			</div>
		</div>
		</div>
	</aside>
	
	<!-- ejs Footer -->
    <% include ./shared/Footer %>

	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
			document.getElementById("mySidenav_greyover").style.width = "100%";
		}
	
		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
			document.getElementById("mySidenav_greyover").style.width = "0";
		}		
	</script>

	
	</body>

</html>
