<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Center of Digital Society - TEST</title>

	<!-- Bootstrap Core and Other JavaScript Sources -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="js/stylish-portfolio.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js" type="text/javascript"></script>
	<script src="//cdn.ckeditor.com/4.7.3/basic/ckeditor.js"></script>

	<!-- Bootstrap Frame CSS and Other Styles -->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rozha One">
	<link rel="stylesheet" type="text/css" href="css/stylish-portfolio.css">
	<link rel="stylesheet" type="text/css" href="css/digital-society.css">		
</head>


<body style="height: 150px;">
    <% include ./shared/Header %>
	<section id="experts" class="experts border-top-grey-collapse">
		<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto text-center">
				<h1 style="font-family:Oswald">Manager Page: Research</h1>
				<hr class="medium">

				<a id="create" class="btn btn-dark text-white modalBtn" style="width:100%;margin-bottom:10px" href="javascript:void(0);" onclick="openModal(this)"> New </a>		
				<div id="modal_create" class="modal">
					<div class="modal-content">	
						<form action="http://localhost:3000/UploadResearch" method="post" enctype="multipart/form-data">
							<div style="text-align:left">
								Title: <input name="title" type="text" style="width:100%;">
							</div>	
							<div style="text-align:left">
								Authors: <input name="authors" type="text" style="width:100%;">
							</div>	
							<div style="text-align:left">
								Journal Name: <input name="jname" type="text" style="width:100%;">
							</div>
							<div style="text-align:left">
								External Link: <input name="elink" type="text" style="width:100%;">
							</div>						
							<div style="text-align:left">
								Research Category:
								<select name="categ" style="width:100%">
									<option value="1">Interorganizational Networks</option>
									<option value="2">Citizen/User Community</option>
									<option value="3">Institutional Ecosystem</option>
								</select>
							</div>							
							<textarea id="researchEditor" name="desc" rows="10" cols="80">
							</textarea>
							<script>
								CKEDITOR.replace('researchEditor');
							</script>
							<div style="text-align:left">
								Image: <input type="file" name="uploadFile" style="width:100%;">
							</div>													
							<input class="btn btn-dark text-white" style="width:45%;margin-top:5px;" type="submit" value="Insert">
							<a id="create" class="btn btn-dark text-white" style="width:45%;margin-top:5px;" href="javascript:void(0);" onclick="closeModal(this)"> Cancel </a>
						</form>					
					</div>
				</div>

				<div id="listBody" class="row">
				</div>	
				<a id="loadMore" class="btn btn-dark text-white" style="width:100%;margin-top:30px;" method="post"> Load More </a>
			</div>
		</div>
		</div>
	</section>

	<script id="ajaxTempl" type="text/x-jquery-tmpl">
		<div class="col-sm-12">
			<div style="border-bottom-style:groove;text-align:left;"> 
				&nbsp;&nbsp;&nbsp;
				<b>${ResearchTitle}</b> 
				<a id="${ResearchId}" class="modalBtn" style="float:right;margin-right:10px" href="javascript:void(0);" onclick="openModal(this)">
						Delete
				</a>		
				<a id="${ResearchId}" class="modalBtn" style="float:right;margin-right:10px" href="javascript:void(0);" onclick="openModal(this)">
						Modify
				</a>		
			</div>
		</div>

		<div id="modal_${ResearchId}" class="modal">
			<div class="modal-content">	
				<form action="http://localhost:3000/UploadResearch" method="post">
					<div style="text-align:left">
						Title: <input name="title" type="text" style="width:100%;" value="${ResearchTitle}">
					</div>	
					<div style="text-align:left">
						Authors: <input name="authors" type="text" style="width:100%;" value="${Authors}">
					</div>	
					<div style="text-align:left">
						Journal Name: <input name="jname" type="text" style="width:100%;" value="${JournalName}">
					</div>
					<div style="text-align:left">
						External Link: <input name="elink" type="text" style="width:100%;" value="${ExternalLink}">
					</div>
					<div style="text-align:left">
						Research Category:
						<select name="categ" style="width:100%">
						{{if ResearchTag == "1"}}								
							<option value="1" selected>Interorganizational Networks</option>
						{{else}}
							<option value="1">Interorganizational Networks</option>
						{{/if}}
						{{if ResearchTag == "2"}}
							<option value="2" selected>Citizen/User Community</option>
						{{else}}
							<option value="2">Citizen/User Community</option>
						{{/if}}
						{{if ResearchTag == "3"}}
							<option value="3" selected>Institutional Ecosystem</option>
						{{else}}
							<option value="3">Institutional Ecosystem</option>
						{{/if}}
						</select>
					</div>
					<textarea id="Editor_${ResearchId}" name="desc" rows="10" cols="80" value="${Description}">
					</textarea>
					<div style="text-align:left">
						Image: <input type="file" name="uploadFile" style="width:100%;">
					</div>													
					<input class="btn btn-dark text-white" style="width:45%;margin-top:5px;" type="submit" value="Insert">
					<a id="${ResearchId}" class="btn btn-dark text-white" style="width:45%;margin-top:5px;" href="javascript:void(0);" onclick="closeModal(this)"> Cancel </a>
				</form>					
			</div>
		</div>
	</script>

	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "220px";
			document.getElementById("mySidenav_greyover").style.width = "100%";
		}
		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
			document.getElementById("mySidenav_greyover").style.width = "0";
		}

		// JS for modal
		function openModal(obj){
			id = $(obj).attr('id');
			modal = document.getElementById("modal_"+id);
			modal.style.display = "block";	
		}
		function closeModal(obj){
			id = $(obj).attr('id');
			modal = document.getElementById("modal_"+id);
			modal.style.display = "none";	
		}
		function dataObj(object1, object2){
			this.object1=object1;
			this.object2=object2;
		}

		// Ajax function.
		var currentIndex = 0;
		document.querySelector('#loadMore').addEventListener('click', function(){
			var data = {'current' : currentIndex};
			jdata = JSON.stringify(data);
			console.log(jdata);
			var xhr = new XMLHttpRequest();
			xhr.open('POST', 'http://localhost:3000/Ajax_Research');
			xhr.setRequestHeader('Content-type', "application/json");
			xhr.send(jdata);
			// 데이터 수신이 완료되면 표시
			xhr.addEventListener('load', function(){
				var result = JSON.parse(xhr.responseText);
				currentIndex += 6;
				console.log(currentIndex);
				for(i=0; i<result.length; i++){
			        var obj = $("#ajaxTempl").tmpl(result[i]).appendTo("#listBody");	//CKEDITOR.replace('Editor_'+result[i].ResearchId);
				}
			});
		});
		document.getElementById('loadMore').click();
	</script>
	</body>

</html>
