<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="author" content="Geonsik Yu">
	<title>Lab Manager Page</title>
</head>
<body style="height:150px; width:50%; margin:auto;">
	<form action="/login" method="post">
		<div>
			<label>Username:</label>
			<input type="text" name="username"/>
		</div>
		<div>
			<label>Password:</label>
			<input type="password" name="password"/>
		</div>
		<div>
			<input type="submit" value="Log In"/>
		</div>
	</form>
</body>
</html>
