<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Center of Digital Society - TEST</title>


	<!-- Bootstrap Core and Other JavaScript Sources -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="js/stylish-portfolio.js"></script>


	<!-- Bootstrap Frame CSS and Other Styles -->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rozha One">
	<link rel="stylesheet" type="text/css" href="css/stylish-portfolio.css">
	<link rel="stylesheet" type="text/css" href="css/digital-society.css">		
</head>


<body style="height: 150px;">

	<!-- ejs Header -->
    <% include ./shared/Header %>

	<!--  -->
	<section id="experts" class="experts border-top-grey-collapse">
		<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto text-center">
				<h1 style="font-family:Oswald">RESEARCH</h1>
				<hr class="medium">
				<div class="row" style="margin-bottom:100px">

					<% for(i = 0; i < ResearchData.length; i++) { %>
					<div class="col-md-4 col-sm-12">
						<a href="#">
						<img class="img-portfolio img-fluid" src="img/portfolio-3.jpg" style="width:100%; padding-top:16px;">
						</a>
					</div>
					<div class="col-md-8 col-sm-12">
						<div class="researchItem"><%=ResearchData[i].ResearchTitle%></div>
						<hr class="researchHr"/>
						<p style="text-align:justify;overflow:hidden">
							<%= ResearchData[i].Description %>
							<a id="myBtn" class="btn btn-dark text-white" style="float:right;">View More</a>						
						</p>
					</div>

					<!-- Modal Part -->
					<div id="myModal" class="modal">
						<div class="modal-content">	
							<div style="width:50%;margin:auto;">
								<a href="#">
								<img class="img-portfolio img-fluid" src="img/portfolio-3.jpg" style="width:100%; padding-top:16px;">
								</a>
							</div>
							<div style="width:100%">
								<div class="researchItem"><%=ResearchData[i].ResearchTitle%></div>
								<hr class="researchHr"/>
								<p style="text-align:justify;">
									<%= ResearchData[i].Description %>
								</p>
							</div>
							<span class="modal-close">&times;</span>
						</div>
					</div>
					<% } %>

				</div>	
			<!-- /.row (nested) -->
			</div>
			<!-- /.col-lg-10 -->
		</div>
		<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>

    <% include ./shared/Slogan %>
	<!-- ejs Footer -->
    <% include ./shared/Footer %>
	
	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "220px";
			document.getElementById("mySidenav_greyover").style.width = "100%";
		}
		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
			document.getElementById("mySidenav_greyover").style.width = "0";
		}
		
		// JS for modal
		var modal = document.getElementById('myModal');
		var btn = document.getElementById("myBtn");
		var span = document.getElementsByClassName("modal-close")[0];
		btn.onclick = function() {
		    modal.style.display = "block";
		}
		span.onclick = function() {
		    modal.style.display = "none";
		}
		window.onclick = function(event) {
		    if (event.target == modal) {
		        modal.style.display = "none";
		    }
		}
	</script>
	</body>

</html>
